.navbar {
    background-color: #f8f9fb !important;
    min-height: 80px !important;
}
.navbar .search{
padding: 3px 12px !important;
}

.navbar .avatar {
    width: 40px !important;
    height: 40px !important;
}
.dropdown-menu[data-bs-popper]{
    position: relative;
    border: 2px solid #4aa35a;
    top: 60px !important;
    left: -150px !important;
    width: fit-content !important;
}

/* =================== */
.navbar-brand{
    width: 200px;
    height: 50% !important;
    /* background: #000; */
}

