@keyframes slideUpDown {
    0% {
      transform: translateY(10px);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(10px);
    }
  }
  
  .animated-image {
    animation: slideUpDown 2.5s linear infinite;
  }
  /* ================
   */

  
  
  /* تعريف التأثيرات الحركية للصورة */
  @keyframes slideInFromTop {
    0% {
      opacity: 0;
      transform: translateY(-50px); 
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .animated-heading {
    animation: slideInFromLeft 1.5s ease-in-out forwards; 
  }
  
 /* تعريف التأثيرات الحركية للفقرة */
@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px); /* بداية التحريك من اليسار خارج الشاشة */
    }
    50% {
        transform: translateX(100px); /* تحريك النص إلى اليمين */
      }
    100% {
      opacity: 1;
      transform: translateX(0); /* النهاية: دخول الفقرة بالكامل */
    }
  }
  
  /* تطبيق التأثيرات على الفقرة */
  .animated-paragraph {
    animation: slideInFromLeft 2s ease-in-out forwards; /* تطبيق التأثير لمدة 1 ثانية بسرعة ثابتة وبشكل دائم */
  }
  