@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --danger: rgb(197, 15, 15);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}


.noClickInButtonAgain {
    cursor: no-drop !important;
}

.Auth-container {
    background-image: url(../src/assets/Auth-BG.jpg);
    background-size: cover;
    background-position: center left;
}

.overlay {
    background: linear-gradient(45deg, rgba(47, 140, 51, 0.63), rgba(0, 0, 0, 0.62));
}

.bg-btn,
.btn:hover {
    background: rgba(74, 163, 90, 1) !important;
}

.icon {
    color: rgba(131, 145, 161, 1);
}

input:focus,
select:focus {
    background: #dbf7e8 !important;
    outline: none !important;
    box-shadow: none !important;
    border: 2px rgb(190, 218, 181) solid !important;
}

/* ==================fillImage===================== */
.fillImage {
    border: 2px dashed rgba(74, 163, 90, 1);
}

/* =================Logo================= */
.logo img {
    width: 70% !important;
}

@media (max-width: 400px) {
    .logo img {
        width: 100% !important;
    }
}

/* =============header=============== */
.header-container {
    background-image: url(./assets/header-bAzzDi1N.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 30px !important;
}


/* ============buttons in alert================ */
.btn-delete,
.btn-delete:hover {
    background: transparent !important;
    border: 1px var(--danger) solid !important;
    color: var(--danger) !important;
}

/* ===============Outlet================= */
.Outlet {
    margin-left: auto;
    width: calc(100% - 80px) !important;
}

/* =================logoutButton======================== */

.logoutButton:hover {
    transition: all 0.3s;
    color: var(--danger);
    transform: scale(1.1) !important;
}

/* =================table======================== */
thead th {
    background: #dbfaea !important;

    padding: 30px !important;
    font-weight: 600;
    border-bottom: #fff 2px solid !important;

}



thead th:first-child {
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}

thead th:last-child {
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

td {
    background: transparent;
}


tbody tr:hover {
    transition: all 0.5s;
    border-radius: 15px !important;

}

tr:hover td {
    background: #dbfaea !important;



}

tr:hover td:last-child {
    border-radius: 0 15px 15px 0 !important;

}

tr:hover td:first-child {
    border-radius: 15px 0 0 15px !important;

}

/* ==========table buttons============== */
.updateAndDelete {
    transition: all 0.5s !important;
    width: fit-content;
}

.updateAndDelete:hover {
    transform: scale(1.1);
    font-weight: 500;
}

/* ===============FillRecipes====================== */

.FillRecipes-container {
    background: rgba(240, 255, 239, 1);
}

.Recipes {
    color: rgba(0, 146, 71, 1);
}

/* =====================UserList============================== */
.userImage {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}




/* ==========AlertView============== */
.text-success {
    color: rgba(0, 146, 71, 1) !important;
}


/* ==========notFound-container============== */
 .notFound-container {
    background-image: url(./assets/Vector.png);
    background-repeat: no-repeat;
    background-position: right bottom , right bottom; 
    background-size: auto; 
} 





/* ===============select image ================== */


input .file-upload-button {
    background: #000 !important;
    color: #f00303 !important;
}


/* ===============Favorite================== */
.card {
    width: 275px !important;
    height: 450px;
    transition: all 0.3s;
    border: rgba(128, 128, 128, 0.432) 2px  solid !important;
    overflow: hidden;
}
.card:hover {
    box-shadow: 1px 1px 10px rgba(0, 146, 71, 0.295) ,-1px -1px 10px rgba(0, 146, 71, 0.315) ;
    transform: scale(1.0333);
    border: rgb(5, 153, 5) 2px  solid !important;
}
.card img {
    height: 55%;
}

.heartInCard {
    top: 10px !important;
    right: -50px !important;
    transition: all 0.5s !important;
    cursor: pointer;
}
.card:hover .heartInCard {
    top: 10px !important;
    right: 10px !important;
}
.container-heart{
    border: 3px dashed green !important;
}


/* ===============Pagination================== */

.Pagination-num {
    background: #dbfaea  !important ;
    color: #000 !important;
    font-weight: 600; 
    /* margin:  15px; */
    border: green solid 2px !important;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 3px !important;
}
.Pagination-num:hover{
    border-radius: 10px !important;
    transform: scale(1.2) !important;
}
/* ===============scrollbar================== */

html {
    scrollbar-color: #74365f #1f263e;
} 