

.sidebar-container .css-dip3t8 {
    border-radius: 0 50px 0 0;
    background-color: #1f263e !important;
    color: #fff;
}

.sidebar-container .css-1wvake5 {
    border: none !important;
}

.sidebar-container .ps-menu-button:hover {
    background: rgba(0, 146, 71, 0.1) !important;
    border-left: 5px rgba(0, 146, 71, 1) solid !important;
}

.sidebar-container .cursor-pointer-imageAtSideBar {
    cursor: pointer;
}

.sidebar-container .relative-image {
    position: relative;
    left: -18px !important;
}